__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.log
*.spec
dist/
build/
output/
clients/windows/agent/dist/
clients/windows/agent/build/
installer/agent/dist/
installer/agent/build/
installer/agent/output/
